.CardItem {
    margin: auto 0;
    padding: 10px;
    text-align: start;
    width: 100%;
}

.CardItem p {
    margin: 0;
    padding: 0;
}

.success {
    color: #03a82a;
}

.danger {
    color: #da071c;
}

.small {
    font-size: small;
}